{% block doc -%}
<!DOCTYPE html>
<html{% block html_attribs %}{% endblock html_attribs %}>
  {%- block html %}
  <head>
    {%- block head %}
    <title>{% block title %}{{ title|default }}{% endblock title %}</title>

      {%- block metas %}
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      {%- endblock metas %}

      {%- block head_scripts %}
      {%- endblock head_scripts %}

      {%- block styles %}
        <style>
          .fs-center { text-align: center }
          .fs-important { font-size: larger; font-weight: bold }
          .fs-gap { margin-top: 20px; }
          .fs-div { margin: 4px; }
          .fs-error-msg { color: darkred; }
        </style>
      {%- endblock styles %}
    {%- endblock head %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
          integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N"
          crossorigin="anonymous">
  </head>
  <body{% block body_attribs %}{% endblock body_attribs %}>
    {% block body -%}
      {% block navbar %}
        {% include '_navbar.html' %}
      {%- endblock navbar %}
  <div class="container">
      {% block content -%}
      {%- endblock content %}
  </div>
      {% block scripts %}
      {%- endblock scripts %}
    {%- endblock body %}
  </body>
  {%- endblock html %}
</html>
{% endblock doc -%}
