{% extends 'base.html' %}
{% block title %}
  Upload image
{% endblock %}

{% block content %}
    <h3> Upload image </h3>
    {% if filename %}
	<div>
		<img src="{{ url_for('display_image', filename=filename) }}">
	</div>
    {% endif %}
    <form method="post" action="{{ url_for('upload') }}" enctype="multipart/form-data">
    <dl>
		<p>
			<input type="file" name="file" autocomplete="off" required>
		</p>
    </dl>
    <p>
		<input type="submit" value="Submit">
	</p>
    </form>
{% endblock %}